extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Комментарий';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Комментарий

    //- Демонстрация компонента
    .ui-kit__component-demo
       +comment('com-1.jpg','Джейн Смитт', '05 Мая 2017 года в 15:45' , 'Замечательный парк, обязательно отправлюсь туда этим летом.' )

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +comment(img, name, data , decrsiption )

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/comment.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin comment(img, name, data , decrsiption )
                .comment 
                    .comment__img 
                        img(src="./../comment/" + img, alt="Комментарий")
                    .comment__wrapper 
                        .comment__main-info 
                            .comment__name
                                h4 #{name}
                        .comment__date
                            span #{data}
                        .comment__description 
                            p #{decrsiption}
        .card-post__info 
            p #{info}