extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Подвал ';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Подвал

    //- Демонстрация компонента
    .ui-kit__component-demo
        include ./../sections/footer-section.pug

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            incluide './../sections/footer-section.pug'

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        sections/footer-section.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            incluide './../sections/footer-section.pug'