extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Шапка внутренняя ';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Шапка внутренняя

    //- Демонстрация компонента
    .ui-kit__component-demo
        include ./../sections/head-inner.pug

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            incluide './../sections/head-inner.pug'

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        sections/head-inner.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            incluide './../sections/head-inner.pug'