extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Сообщение об ошибке';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Сообщение об ошибке

    //- Демонстрация компонента
    .ui-kit__component-demo
       +notification-red()

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +notification-red()

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/notification-red.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin notification--red (text='Сообщение об ошибке')
                .notification.notification--red 
                    .notification__text.notification__text--white Сообщение об ошибке
            block