footer.footer-section
    .container  
        .footer__content 
            .footer__cooperation 
                .footer__name Даниил Киселев
                .footer__info Создано в WebCademy.ru в 2022 год
            .footer__icons 
                .footer__icon 
                    img(src="./../img/footer/youtube-brands 1.svg", alt="" ,width="31px", height="28px")
                .footer__icon
                    img(src="./../img/footer/instagram 1.svg", alt="",width="24px",height="29px")
                .footer__icon
                    img(src="./../img/footer/facebook-f 1.svg", alt="",width="17px",height="28px")
                .footer__icon
                    img(src="./../img/footer/vk-brands 1.svg", alt="",width="31px",height="28px")
                .footer__icon
                    img(src="./../img/footer/linkedin-in-brands.svg",width="24px",height="28px")
                .footer__icon
                    img(src="./../img/footer/github-brands.svg", alt="",width="27px",height="28px")


