header.head.header--inner 
    .header__title Digital Nomad
    .header__subtitle веб-разработчик, ui/ux дизайнер
    .header__nav
        .header__list 
            .list-item
                a(href="#") Обо мне
            .list-item
                a(href="#") Портфолио
            .list-item
               a(href="#") Блог
            .list-item
                a(href="#") Контакты