header.head.header--external
    .header__title Digital Nomad
    .header__subtitle cайт IT специалиста
    .header__nav
         .header__list 
            .list-item.header__list-color
                a(href="#") Обо мне
            .list-item
                a(href="#") Портфолио
            .list-item
                a(href="#") Блог
            .list-item
                 a(href="#") Контакты