.button-pagination {
    display: inline;
    height: 40px;
    background-color: #EAEFF2;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 3px;

    font-size: 16px;
    font-family: $baseFont;
    line-height: 30px;
    color: #000;
    font-weight: 700;
    text-align: center;
    align-items: center;

    &:hover,
    &:focus {
        background-color: #DDE8F6;
        text-decoration: none;
        color: #000;
    }
    &:active {
        background-color:#C3CFDE;
        text-decoration: none;
        color: #000;
    }
    & p{
        margin: 0;
        padding: 0;
    }
}
