.button {
    background-color: #fff; 
    border: 1px solid #7E9BBD; 
    padding: 14px 80px; 
    cursor: pointer; 
    font-family: $baseFont;
    display: inline-block;
    line-height: 1;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    &.prev{
        border-radius: 8px 0px 0px 8px;
    }
    &.next{
        border-radius: 0px 8px 8px 0px;
    }

    &:hover,
    &:focus {
        background-color: #EFF6FB ;
        text-decoration: none;
    }

    &:active {
        background-color: #9BC3DC;
        text-decoration: none;
    }
}
.btn-group a {
    color:#7E9BBD;
    &:hover,
    &:focus {
        color: #4374AD;
    }
    &:active {
        color: #fff;
    }

}

    
    

   



