mixin cards-project( tag = 'HTML, CSS, wordpress', img, info,  link= '#' )
    .card-project
        .card-project__img
            .card-frame
                +cards-frame(tag)
            a(href=link)
                img(src="./../img/project-cards/" + img, alt="Проект")
        .card-post__info 
            p #{info}
    