.left-panel.blue-skin
	.left-panel__section
		.left-panel__logo UI-KIT и PUG фреймворк

	.left-panel__section
		.left-panel__title Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")

	//- Тут будут ссылки на блоки
	.left-panel__section
		.left-panel__title Блоки
		.left-panel-nav
			+linkLeftPanel("Главная кнопка", "main-button.html")
			+linkLeftPanel("Файловая кнопка", "file-button.html")
			+linkLeftPanel("Дополнительная кнопка", "secondary-button.html")
			+linkLeftPanel("Кнопка в пагинации", "button-pagination.html")
			+linkLeftPanel("Кнопки пагиниции", "post-button.html")
			+linkLeftPanel("Главный заголовок", "main-title.html")
			+linkLeftPanel("Аватарка большая", "avatar-big.html")
			+linkLeftPanel("Аватарка маленькая", "avatar-small.html")
			+linkLeftPanel("Заголовок рамки в карточке", "cards-frame.html")
			+linkLeftPanel("Карточки с постом", "cards-post.html")
			+linkLeftPanel("Карточки с проектом", "cards-project.html")
			+linkLeftPanel("Комментарий", "comment.html")
			+linkLeftPanel("Оставить комментарий", "leave-comment.html")
			+linkLeftPanel("Шапка внутренняя", "head-inner.html")
			+linkLeftPanel("Шапка внешняя", "head-ext.html")
			+linkLeftPanel("Подвал", "footer-section.html")
			+linkLeftPanel("Сообщение об ошибке", "notification-red.html")
			+linkLeftPanel("Сообщение об ошибке с текстом", "notification-red-content.html")
			+linkLeftPanel("Сообщение о действие", "notification-yellow.html")
			+linkLeftPanel("Сообщение о действие с текстом", "notification-yellow-content.html")
			+linkLeftPanel("Сообщение об успехе", "notification-green.html")
			+linkLeftPanel("Сообщение об успехе с текстом", "notification-green-content.html")
			//- HELLO DANYA <3
			//- HELLO VLAD <3

	.left-panel__section
		.left-panel__title Страницы
		.left-panel-nav
			+linkLeftPanel("Портфолио", "../portfolio.html")
			+linkLeftPanel("Блог", "../blog.html")

	//- Тут будут ссылки на секции
	//- .left-panel__section
	//- 	.left-panel__title Секции
	//- 	.left-panel-nav

	//- Тут будут ссылки на страницы
	//- .left-panel__section
	//- 	.left-panel__title Страницы
	//- 	.left-panel-nav
